<div class="row small-6 columns">
    
    <a class="large expanded success button imageButton" ng-click="main.getRandomImage()" href="#">Random Image</a>
    
    <div class="blog-post">
        <h3 ng-bind="main.postContent.title"></h3>
        <small class="text-right" style="color:black;">{{main.postContent.createdAt | date}} by <a href="#">{{main.postContent.username}}</a></small>
        <div class="imageBox">
            <img class="thumbnail centered" ng-src="{{main.postContent.image}}">
            <p class="description text-center" ng-bind="main.postContent.description"></p>
        </div>

        <h4>Comments</h4>
        <!-- <p>Submitted: {{main.commentForm.$submitted}}</p>
        <p>Pristine: {{main.commentForm.$pristine}}</p>
        <p>Username touched: {{main.commentForm.username.$touched}}</p>
        <p>comment touched: {{main.commentForm.comment.$touched}}</p> -->
        <div class="newComment">
            <form ng-submit="main.addComment()" name="main.commentForm" novalidate>
                
                <label>Nickname
                    <input type="text" name="username" ng-model="main.comment.username" required ng-minlength="2" />
                    <div ng-show="main.commentForm.$submitted">
                        <span ng-show="main.commentForm.username.$pristine || main.commentForm.username.$error.minlength">Nickname must be longer than 1</span>
                    </div>       
                </label>
                
                <label>Comment
                    <textarea name="comment" ng-model="main.comment.comment" required ng-minlength="10"></textarea>
                    <div ng-show="main.commentForm.$submitted">
                        <span ng-show="main.commentForm.comment.$pristine || main.commentForm.comment.$error.minlength">Comment must be at least 10 characters</span>
                    </div>
                </label>
            
                <button type="submit" class="button info">Send</button>
            
            </form>
        </div>
        <div class="commentBox">
            <div class="comment" ng-repeat="comment in main.postContent.comments | orderBy:'-createdAt'">
                    <div><strong ng-bind="comment.username"></strong>&nbsp;({{ comment.createdAt | commentDate }})</div>
                    <p ng-bind="comment.comment"></p>
            </div>
        </div>
    </div>
    <script>$(document).foundation();</script>
</div>