<!-- <div class="callout large primary">
  <div class="row column text-center">
    <h1>Our Blog</h1>
    <h2 class="subheader">Such a Simple Blog Layout</h2>
  </div>
</div> -->

<!-- We can now combine rows and columns when there's only one column in that row -->
<div class="row small-6 columns">

   <a class="large expanded success button imageButton" ng-click="main.getRandomImage()" href="#">Random Image</a>

   <div class="blog-post">
      <h3 ng-bind="main.postContent.title"></h3>
      <small class="text-right" style="color:black;">{{main.postContent.createdAt}} by <a href="#">{{main.postContent.username}}</a></small>
      <div class="imageBox">
         <img class="thumbnail centered" ng-src="{{main.postContent.image}}">
         <p class="description text-justify" ng-bind="main.postContent.description"></p>
      </div>

      <h4>Comments</h4>

      <div class="commentBox">
          <div ng-repeat="comment in main.postContent.comments">
              <div class="comment">
                  <div><strong ng-bind="comment.username"></strong>&nbsp;({{comment.createdAt}})</div>
                  <p ng-bind="comment.comment"></p>
              </div>
          </div>
      </div>
   </div>