<div class="row small-4 columns">
   <form class="postForm" ng-submit="post.submitForm()" name="post.form">
      <h3>Post Image</h3>
      <label>
         Nickname
         <input type="text" ng-model="post.newPost.username" />
      </label>
      <label>
         Title
         <input type="text" ng-model="post.newPost.title" />
      </label>
      <label>
         Image:
         <div class="row selectBox">
            <div class="small-6 columns">
                <div ngf-select ngf-drop ng-model="post.file" ngf-model-invalid="invalidFiles"
                    ngf-multiple="false" ngf-pattern="pattern" ngf-accept="acceptSelect"
                    ng-disabled="disabled" ngf-capture="capture" ngf-drag-over-class="dragOverClassObj"
                    ngf-validate="validateObj" ngf-resize="resizeObj"
                    ngf-resize-if="resizeIfFn($file, $width, $height)"
                    ngf-dimensions="dimensionsFn($file, $width, $height)"
                    ngf-duration="durationFn($file, $duration)" 
                    ngf-keep="keepDistinct ? 'distinct' : keep" ngf-fix-orientation="orientation"
                    ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select
                    <span ng-show="dropAvailable"> or Drop File</span>
                </div>
            </div>
            <div class="small-6 columns">
                <img style="max-height: 135px;" ngf-src="post.file">
            </div>
        </div>
      </label>
      <label>
         Description
         <textarea ng-model="post.newPost.description"></textarea>
      </label>
      <button type="submit" class="button secondary">Submit</button>
   </form>
</div>
 <!-- <div class="button" ngf-select ng-model="post.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select</div> -->