.top-bar, .top-bar ul {
    background-color: rgb(158,215,71);
}

.blog-post {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(177,201,141);
}

.imageButton {
    margin: 10px;
}

.imageBox {
    /*max-width: 800px;*/
    display: block;
    margin: 0 auto;
    background-color: rgb(210,223,191);
    padding: 10px;
}

.comment p {
    margin: 0;
}

.comment {
    padding: 5px 15px 5px 15px;
    margin-bottom: 15px;
}

.comment:nth-child(even) {
    background-color: rgb(69,180,153);
}

.comment:nth-child(odd) {
    background-color: rgb(51,205,168);
}

.centered {
    display: block;
    margin: 0 auto;
}

.description {
    margin: 5px 0 5px 0;    
}

.postForm {
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(177,201,141);
}

.postForm label {
    background-color: rgb(210,223,191);
    margin-bottom: 10px;
    padding: 2px 10px 2px 10px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}

.preview {
    clear: both;
}

.preview img {
    max-width: 100%;
    max-height: 135px;
}

.selectBox {
    margin-top: 15px;
    margin-bottom: 15px;
}

.newComment > form > label > input, .newComment > form > label > textarea {
    margin-bottom: 0;
}

.newComment > form > label {
    margin-bottom: 15px;
}
